<div class="jumbotron">
    <h2>API REST by Fabian</h2>
    <p class="lead">Activos Fijos de Empresa</p>
    <p><a href="~/api/activos" class="btn btn-primary btn-lg">API (activos)&raquo;</a></p>
    <p><a href="~/api/areas" class="btn btn-primary btn-lg">API (areas)&raquo;</a></p>
    <p><a href="~/api/personas" class="btn btn-primary btn-lg">API (personas)&raquo;</a></p>
    <p><a href="~/Default.aspx" class="btn btn-success">Consumir API (Cliente)&raquo;</a></p>
    
</div>

